<mat-toolbar class="app-navbar" color="primary">

    <img mat-card-avatar class="app-angular-logo" src="{{loggedInUser.getAvatar()}}" alt="{{loggedInUser.getAvatar()}}" style="width:50px;height:50px;">
    <span>{{loggedInUser.getFullName()}}</span>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->

    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button mat-icon-button>
        <mat-icon>search</mat-icon>
        </button>
        </div>
    </div>
</mat-toolbar>